body {
  padding-top: 60px;
}

#landing-hero {
  min-height: 800px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  background-image: url(/src/assets/images/kindpng_371550.png);
}

.col {
  padding: 0;
}

.row {
  --bs-gutter-x: 0;
}

.booking-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  color: white;
}